.navbar {
    position: absolute;
    bottom: 0px;
    border-top: .1rem black solid;
    width: 100vw;
    height: 5rem;

    button {
        width: 50%;
        height: 100%;
        font-size: 1.8rem;
    }
}